<div class="footer">
  <div class="footer-content container-max-width">
    <div class="footer-logo">
      <img src="assets/images/decret.png" alt="Logo AutoDécret" class="logo-img">
      <span>AutoDécret</span>
    </div>
    <div class="footer-links">
      <a href="#" routerLink="/a-propos">À propos</a>
      <a href="#" routerLink="/contact">Contact</a>
      <a href="#" routerLink="/conditions">Conditions</a>
      <a href="#" routerLink="/confidentialite">Confidentialité</a>
    </div>
  </div>
  <div class="footer-copyright container-max-width">
    &copy; 2025 AutoDécret. Tous droits réservés.
  </div>
</div>
